In [2]:
import requests
import pandas as pd

In [2]:
df = pd.read_csv('data/most-recent-cohorts-all-data-elements.csv',sep=',',low_memory=False)

In [3]:
four_year = df[df['HIGHDEG']>2]

In [4]:
data = df[[ 'INSTNM',
'CITY', 
'STABBR', 
'INSTURL', 
'HIGHDEG', 
'TUITIONFEE_IN', 
'TUITIONFEE_OUT', 
'TUITIONFEE_PROG', 
'C150_4', 
'C150_4_WHITE', 
'C150_4_BLACK', 
'C150_4_HISP', 
'C150_4_ASIAN', 
'C150_4_AIAN', 
'C150_4_NHPI', 
'C150_4_2MOR', 
'C150_4_NRA', 
'C150_4_UNKN', 
'CDR2', 
'CDR3', 
'COUNT_NWNE_P10', 
'COUNT_WNE_P10', 
'COUNT_NWNE_P6', 
'COUNT_WNE_P6', 
'COUNT_NWNE_P7', 
'COUNT_WNE_P7', 
'COUNT_NWNE_P8', 
'COUNT_WNE_P8', 
'COUNT_NWNE_P9', 
'COUNT_WNE_P9', 
'COUNT_NWNE_3YR', 
'COUNT_WNE_3YR' 
    
          ]]

In [5]:
four_year.shape

(2725, 2045)

In [6]:
four_year = four_year.dropna(axis='columns',how='all')

In [7]:
four_year.shape

(2725, 1968)

In [8]:
four_year.columns

Index(['UNITID', 'OPEID', 'OPEID6', 'INSTNM', 'CITY', 'STABBR', 'ZIP',
       'ACCREDAGENCY', 'INSTURL', 'NPCURL',
       ...
       'PLUS_DEBT_ALL_STAFFANY_N', 'PLUS_DEBT_ALL_STAFFANY_MD',
       'PLUS_DEBT_INST_NOSTAFFANY_N', 'PLUS_DEBT_INST_NOSTAFFANY_MD',
       'PLUS_DEBT_ALL_NOSTAFFANY_N', 'PLUS_DEBT_ALL_NOSTAFFANY_MD',
       'COUNT_NWNE_3YR', 'COUNT_WNE_3YR', 'CNTOVER150_3YR', 'SEARCH_STRING'],
      dtype='object', length=1968)

## Is it value in just looking at columns that do not contain any NaN values?

No. This is a bad idea. There are only 218 columns that do not contain any NaN values. These columns include institution name location, highest degree awarded, cargenie indictator, flagship indicator, if the school has a specific program.

In [9]:
#Creates a list of column names of columns that contain a NaN value 
all_values_exist=four_year.dropna(axis='columns',how='any').columns

In [10]:
#Pulls in data dictionary
data_dictionary = pd.read_excel('data/collegescorecarddatadictionary.xlsx',sheet_name='institution_data_dictionary')

In [11]:
#Filters data dictionary to only show column names that are in the list created
all_values_dict = data_dictionary[data_dictionary['VARIABLE NAME'].isin(all_values_exist)]

In [12]:
#This section is completely commented out to avoid creating excel export.

# Create a Pandas Excel writer using XlsxWriter as the engine.
#writer = pd.ExcelWriter('export.xlsx', engine='xlsxwriter')

# Position the dataframes in the worksheet.
#all_values_dict.to_excel(writer, sheet_name='Sheet1')  # Default position, cell A1.

# Close the Pandas Excel writer and output the Excel file.
#writer.save()

In [13]:
for i in all_values_exist:
    print('Column Name:' + i)
    print(four_year[i].unique())
    print()

Column Name:UNITID
[100654 100663 100690 ..., 492689 492801 492962]

Column Name:OPEID
[ 100200  105200 2503400 ..., 4271100 4276100 1067401]

Column Name:OPEID6
[ 1002  1052 25034 ..., 42693 42711 42761]

Column Name:INSTNM
['Alabama A & M University' 'University of Alabama at Birmingham'
 'Amridge University' ...,
 'Texas Tech University Health Sciences Center-El Paso'
 'Drury University-College of Continuing Professional Studies'
 'Indiana Institute of Technology-College of Professional Studies']

Column Name:CITY
['Normal' 'Birmingham' 'Montgomery' ..., 'Keyport' 'Petaluma' 'Hot Springs']

Column Name:STABBR
['AL' 'AK' 'WA' 'AZ' 'AR' 'CA' 'MN' 'CO' 'CT' 'NY' 'DE' 'DC' 'FL' 'GA' 'HI'
 'ID' 'IL' 'IN' 'IA' 'KS' 'MO' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MS' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN' 'TX'
 'UT' 'VT' 'VA' 'WV' 'WI' 'WY' 'AS' 'GU' 'MP' 'PR' 'VI']

Column Name:ZIP
['35762' '35294-0110' '36117-3553' ..., '79905-2827' '65802' '46803']

Column Name:HCM2
[0 1]

Column Name:MAIN
[1 0]

Column Name:NUMBRANCH
[ 1 13 10  4 11  2  5  6  3 74 17 21  7 12 14 22 33 18 24  8 23 15 19 16]

Column Name:PREDDEG
[3 1 4 2]

Column Name:HIGHDEG
[4 3]

Column Name:CONTROL
[1 2 3]

Column Name:ST_FIPS
[ 1  2 53  4  5  6 27  8  9 36 10 11 12 13 15 16 17 18 19 20 29 21 22 23 24
 25 26 28 30 31 32 33 34 35 37 38 39 40 41 42 44 45 46 47 48 49 50 51 54 55
 56 60 66 69 72 78]

Column Name:REGION
[5 8 6 0 4 7 1 2 3 9]

Column Name:LOCALE
[ 12.  31.  13.  21.  23.  43.  41.  32.  33.  11.  42.  22.]

Column Name:LATITUDE
[ 34.783368  33.505697  32.362609 ...,  31.771891  37.218523  41.076613]

Column Name:LONGITUDE
[ -86.568502  -86.799345  -86.17401  ..., -106.43122   -93.286693
  -85.115424]

Column Name:CCBASIC
[ 18.  15.  20.  16.  19.  22.  21.  23.  24.  17.  32.  26.  30.  33.  25.
  14.  31.  -2.  29.  27.  28.]

Column Name:CCUGPROF
[ 10.   9.   5.  15.  14.   7.   8.  13.  11.  12.   0.  -2.   6.]

Column Name:CCSIZSET
[ 14.  15.   6.  12.  16.   9.  13.  11.  10.   7.   8.  18.  17.  -2.]

Column Name:MENONLY
[ 0.  1.]

Column Name:WOMENONLY
[ 0.  1.]

Column Name:CIP01CERT1
[ 0.  1.  2.]

Column Name:CIP01CERT2
[ 0.  1.  2.]

Column Name:CIP01ASSOC
[ 0.  1.  2.]

Column Name:CIP01CERT4
[ 0.  1.]

Column Name:CIP01BACHL
[ 1.  0.  2.]

Column Name:CIP03CERT1
[ 0.  2.  1.]

Column Name:CIP03CERT2
[ 0.  1.  2.]

Column Name:CIP03ASSOC
[ 0.  2.  1.]

Column Name:CIP03CERT4
[ 0.]

Column Name:CIP03BACHL
[ 1.  0.  2.]

Column Name:CIP04CERT1
[ 0.  1.]

Column Name:CIP04CERT2
[ 0.  1.]

Column Name:CIP04ASSOC
[ 0.  2.  1.]

Column Name:CIP04CERT4
[ 0.  1.]

Column Name:CIP04BACHL
[ 1.  0.  2.]

Column Name:CIP05CERT1
[ 0.  1.  2.]

Column Name:CIP05CERT2
[ 0.  2.  1.]

Column Name:CIP05ASSOC
[ 0.  1.  2.]

Column Name:CIP05CERT4
[ 0.  1.]

Column Name:CIP05BACHL
[ 0.  1.  2.]

Column Name:CIP09CERT1
[ 0.  1.  2.]

Column Name:CIP09CERT2
[ 0.  1.  2.]

Column Name:CIP09ASSOC
[ 0.  1.  2.]

Column Name:CIP09CERT4
[ 0.  1.]

Column Name:CIP09BACHL
[ 0.  1.  2.]

Column Name:CIP10CERT1
[ 0.  1.  2.]

Column Name:CIP10CERT2
[ 0.  1.  2.]

Column Name:CIP10ASSOC
[ 0.  2.  1.]

Column Name:CIP10CERT4
[ 0.  2.  1.]

Column Name:CIP10BACHL
[ 1.  0.  2.]

Column Name:CIP11CERT1
[ 0.  1.  2.]

Column Name:CIP11CERT2
[ 0.  2.  1.]

Column Name:CIP11ASSOC
[ 0.  1.  2.]

Column Name:CIP11CERT4
[ 0.  2.  1.]

Column Name:CIP11BACHL
[ 1.  0.  2.]

Column Name:CIP12CERT1
[ 0.  1.  2.]

Column Name:CIP12CERT2
[ 0.  1.  2.]

Column Name:CIP12ASSOC
[ 0.  1.  2.]

Column Name:CIP12CERT4
[ 0.  1.]

Column Name:CIP12BACHL
[ 0.  1.  2.]

Column Name:CIP13CERT1
[ 0.  1.  2.]

Column Name:CIP13CERT2
[ 0.  1.  2.]

Column Name:CIP13ASSOC
[ 0.  1.  2.]

Column Name:CIP13CERT4
[ 0.  1.]

Column Name:CIP13BACHL
[ 1.  0.  2.]

Column Name:CIP14CERT1
[ 0.  2.  1.]

Column Name:CIP14CERT2
[ 0.  1.]

Column Name:CIP14ASSOC
[ 0.  1.  2.]

Column Name:CIP14CERT4
[ 0.  1.]

Column Name:CIP14BACHL
[ 1.  0.  2.]

Column Name:CIP15CERT1
[ 0.  1.  2.]

Column Name:CIP15CERT2
[ 0.  1.  2.]

Column Name:CIP15ASSOC
[ 0.  2.  1.]

Column Name:CIP15CERT4
[ 0.  1.  2.]

Column Name:CIP15BACHL
[ 1.  0.  2.]

Column Name:CIP16CERT1
[ 0.  1.  2.]

Column Name:CIP16CERT2
[ 0.  1.  2.]

Column Name:CIP16ASSOC
[ 0.  1.  2.]

Column Name:CIP16CERT4
[ 0.  1.  2.]

Column Name:CIP16BACHL
[ 0.  1.  2.]

Column Name:CIP19CERT1
[ 0.  2.  1.]

Column Name:CIP19CERT2
[ 0.  1.  2.]

Column Name:CIP19ASSOC
[ 0.  2.  1.]

Column Name:CIP19CERT4
[ 0.  1.]

Column Name:CIP19BACHL
[ 1.  0.  2.]

Column Name:CIP22CERT1
[ 0.  1.  2.]

Column Name:CIP22CERT2
[ 0.  1.  2.]

Column Name:CIP22ASSOC
[ 0.  1.  2.]

Column Name:CIP22CERT4
[ 0.  1.  2.]

Column Name:CIP22BACHL
[ 0.  1.  2.]

Column Name:CIP23CERT1
[ 0.  1.  2.]

Column Name:CIP23CERT2
[ 0.  1.  2.]

Column Name:CIP23ASSOC
[ 0.  1.  2.]

Column Name:CIP23CERT4
[ 0.  1.]

Column Name:CIP23BACHL
[ 1.  0.  2.]

Column Name:CIP24CERT1
[ 0.  1.  2.]

Column Name:CIP24CERT2
[ 0.  1.  2.]

Column Name:CIP24ASSOC
[ 0.  2.  1.]

Column Name:CIP24CERT4
[ 0.  1.]

Column Name:CIP24BACHL
[ 1.  0.  2.]

Column Name:CIP25CERT1
[ 0.  1.  2.]

Column Name:CIP25CERT2
[ 0.  2.  1.]

Column Name:CIP25ASSOC
[ 0.  1.  2.]

Column Name:CIP25CERT4
[ 0.]

Column Name:CIP25BACHL
[ 0.  1.  2.]

Column Name:CIP26CERT1
[ 0.  1.  2.]

Column Name:CIP26CERT2
[ 0.  1.]

Column Name:CIP26ASSOC
[ 0.  1.  2.]

Column Name:CIP26CERT4
[ 0.  1.]

Column Name:CIP26BACHL
[ 1.  0.  2.]

Column Name:CIP27CERT1
[ 0.  1.  2.]

Column Name:CIP27CERT2
[ 0.  1.]

Column Name:CIP27ASSOC
[ 0.  1.  2.]

Column Name:CIP27CERT4
[ 0.  1.]

Column Name:CIP27BACHL
[ 1.  0.  2.]

Column Name:CIP29CERT1
[ 0.  2.  1.]

Column Name:CIP29CERT2
[ 0.  2.]

Column Name:CIP29ASSOC
[ 0.  2.]

Column Name:CIP29CERT4
[ 0.]

Column Name:CIP29BACHL
[ 0.  1.  2.]

Column Name:CIP30CERT1
[ 0.  1.  2.]

Column Name:CIP30CERT2
[ 0.  1.  2.]

Column Name:CIP30ASSOC
[ 0.  2.  1.]

Column Name:CIP30CERT4
[ 0.  1.]

Column Name:CIP30BACHL
[ 0.  1.  2.]

Column Name:CIP31CERT1
[ 0.  1.  2.]

Column Name:CIP31CERT2
[ 0.  1.  2.]

Column Name:CIP31ASSOC
[ 0.  1.  2.]

Column Name:CIP31CERT4
[ 0.]

Column Name:CIP31BACHL
[ 1.  0.  2.]

Column Name:CIP38CERT1
[ 0.  1.  2.]

Column Name:CIP38CERT2
[ 0.  1.  2.]

Column Name:CIP38ASSOC
[ 0.  1.  2.]

Column Name:CIP38CERT4
[ 0.  1.  2.]

Column Name:CIP38BACHL
[ 0.  1.  2.]

Column Name:CIP39CERT1
[ 0.  1.  2.]

Column Name:CIP39CERT2
[ 0.  1.  2.]

Column Name:CIP39ASSOC
[ 0.  2.  1.]

Column Name:CIP39CERT4
[ 0.  1.  2.]

Column Name:CIP39BACHL
[ 0.  2.  1.]

Column Name:CIP40CERT1
[ 0.  1.  2.]

Column Name:CIP40CERT2
[ 0.  1.  2.]

Column Name:CIP40ASSOC
[ 0.  1.  2.]

Column Name:CIP40CERT4
[ 0.]

Column Name:CIP40BACHL
[ 1.  0.  2.]

Column Name:CIP41CERT1
[ 0.  1.  2.]

Column Name:CIP41CERT2
[ 0.  1.  2.]

Column Name:CIP41ASSOC
[ 0.  1.  2.]

Column Name:CIP41CERT4
[ 0.  1.]

Column Name:CIP41BACHL
[ 0.  1.  2.]

Column Name:CIP42CERT1
[ 0.  1.  2.]

Column Name:CIP42CERT2
[ 0.  1.  2.]

Column Name:CIP42ASSOC
[ 0.  1.  2.]

Column Name:CIP42CERT4
[ 0.  1.]

Column Name:CIP42BACHL
[ 1.  0.  2.]

Column Name:CIP43CERT1
[ 0.  2.  1.]

Column Name:CIP43CERT2
[ 0.  2.  1.]

Column Name:CIP43ASSOC
[ 0.  2.  1.]

Column Name:CIP43CERT4
[ 0.  1.]

Column Name:CIP43BACHL
[ 1.  2.  0.]

Column Name:CIP44CERT1
[ 0.  1.  2.]

Column Name:CIP44CERT2
[ 0.  1.  2.]

Column Name:CIP44ASSOC
[ 0.  2.  1.]

Column Name:CIP44CERT4
[ 0.  1.]

Column Name:CIP44BACHL
[ 1.  0.  2.]

Column Name:CIP45CERT1
[ 0.  1.  2.]

Column Name:CIP45CERT2
[ 0.  2.  1.]

Column Name:CIP45ASSOC
[ 0.  1.  2.]

Column Name:CIP45CERT4
[ 0.  1.  2.]

Column Name:CIP45BACHL
[ 1.  0.  2.]

Column Name:CIP46CERT1
[ 0.  1.]

Column Name:CIP46CERT2
[ 0.  1.  2.]

Column Name:CIP46ASSOC
[ 0.  1.  2.]

Column Name:CIP46CERT4
[ 0.  1.  2.]

Column Name:CIP46BACHL
[ 0.  1.  2.]

Column Name:CIP47CERT1
[ 0.  1.  2.]

Column Name:CIP47CERT2
[ 0.  1.  2.]

Column Name:CIP47ASSOC
[ 0.  1.  2.]

Column Name:CIP47CERT4
[ 0.  1.  2.]

Column Name:CIP47BACHL
[ 0.  1.  2.]

Column Name:CIP48CERT1
[ 0.  1.]

Column Name:CIP48CERT2
[ 0.  1.  2.]

Column Name:CIP48ASSOC
[ 0.  1.]

Column Name:CIP48CERT4
[ 0.  1.]

Column Name:CIP48BACHL
[ 0.  1.  2.]

Column Name:CIP49CERT1
[ 0.  1.  2.]

Column Name:CIP49CERT2
[ 0.  1.]

Column Name:CIP49ASSOC
[ 0.  1.  2.]

Column Name:CIP49CERT4
[ 0.  1.]

Column Name:CIP49BACHL
[ 0.  1.  2.]

Column Name:CIP50CERT1
[ 0.  1.  2.]

Column Name:CIP50CERT2
[ 0.  1.  2.]

Column Name:CIP50ASSOC
[ 0.  2.  1.]

Column Name:CIP50CERT4
[ 0.  2.  1.]

Column Name:CIP50BACHL
[ 1.  0.  2.]

Column Name:CIP51CERT1
[ 0.  1.  2.]

Column Name:CIP51CERT2
[ 0.  1.  2.]

Column Name:CIP51ASSOC
[ 0.  1.  2.]

Column Name:CIP51CERT4
[ 0.  1.  2.]

Column Name:CIP51BACHL
[ 0.  2.  1.]

Column Name:CIP52CERT1
[ 0.  1.  2.]

Column Name:CIP52CERT2
[ 0.  1.  2.]

Column Name:CIP52ASSOC
[ 0.  2.  1.]

Column Name:CIP52CERT4
[ 0.  1.  2.]

Column Name:CIP52BACHL
[ 2.  1.  0.]

Column Name:CIP54CERT1
[ 0.  1.]

Column Name:CIP54CERT2
[ 0.  1.]

Column Name:CIP54ASSOC
[ 0.  1.  2.]

Column Name:CIP54CERT4
[ 0.]

Column Name:CIP54BACHL
[ 0.  1.  2.]

Column Name:DISTANCEONLY
[ 0.  1.]

Column Name:CURROPER
[1 0]

Column Name:ICLEVEL
[1 2]

Column Name:OPEFLAG
[1 3 5 2]

Column Name:SEARCH_STRING
['Alabama A & M University AAMU' 'University of Alabama at Birmingham '
 'Amridge University Southern Christian University  Regions University'
 ..., 'Texas Tech University Health Sciences Center-El Paso '
 'Drury University-College of Continuing Professional Studies '
 'Indiana Institute of Technology-College of Professional Studies Tech CPS  Indiana Tech - CPS']

## Combining Datsets Across Years

With the historical data, it would be useful to have the datasets for the years in one dataframe. Using a loop, I wrote code to concat the datasets. The code below merges the datasets from 2000-2018 into one dataframe.

The code does work. After looping through about 3 times, the dataframe gets too big and causes issues. I do not recommend running this code in its entirely if you do not have high system memory.

In [2]:
years_import_list = {0:'00',1:'01',2:'02',3:'03',4:'04',5:'05',6:'06',7:'07',8:'08',9:'09',
                     10:'10',11:'11',12:'12',13:'13',14:'14',15:'15',16:'16',17:'17',18:'18',19:'19'}

all_years= pd.DataFrame()

for i in reversed(range(0,19)):
    first = years_import_list[i]
    b = i + 1
    second = years_import_list[b]
    df = pd.read_csv(f'data/MERGED20{first}_{second}_PP.csv',sep=',',low_memory=False)
    df['MERGED_YEAR_FROM']= first + '-' + second
    all_years = pd.concat([df,all_years],sort=False)
    df = pd.DataFrame()

KeyboardInterrupt:

In [33]:
all_years

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,PLUS_DEBT_ALL_STAFFANY_N,PLUS_DEBT_ALL_STAFFANY_MD,PLUS_DEBT_INST_NOSTAFFANY_N,PLUS_DEBT_INST_NOSTAFFANY_MD,PLUS_DEBT_ALL_NOSTAFFANY_N,PLUS_DEBT_ALL_NOSTAFFANY_MD,COUNT_NWNE_3YR,COUNT_WNE_3YR,CNTOVER150_3YR,MERGED_YEAR_FROM
0,100636,01230800,12308,Community College of the Air Force,Montgomery,AL,36114-3011,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
1,100654,00100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
2,100663,00105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
3,100690,02503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
4,100706,00105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
5,100724,00100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
6,100751,00105100,1051,The University of Alabama,Tuscaloosa,AL,35487-0100,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
7,100760,00100700,1007,Central Alabama Community College,Alexander City,AL,35010,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
8,100812,00100800,1008,Athens State University,Athens,AL,35611,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
9,100830,00831000,8310,Auburn University at Montgomery,Montgomery,AL,36117-3596,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
10,100858,00100900,1009,Auburn University,Auburn,AL,36849,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
11,100919,00105901,1059,Lawson State Community College-Bessemer Campus,Bessemer,AL,35022,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
12,100937,00101200,1012,Birmingham-Southern College,Birmingham,AL,35254,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
13,101028,01218200,12182,Chattahoochee Valley Community College,Phenix City,AL,36869,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
14,101073,01055400,10554,Concordia College Alabama,Selma,AL,36701,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
15,101116,01303906,13039,South University-Montgomery,Montgomery,AL,36116,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
16,101143,00101500,1015,Enterprise State Community College,Enterprise,AL,36330-1300,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
17,101161,00106000,1060,Coastal Alabama Community College,Bay Minette,AL,36507-2698,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
18,101189,00100300,1003,Faulkner University,Montgomery,AL,36109-3390,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
19,101231,00446200,4462,Gadsden Business College,Rainbow City,AL,35906,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
20,101240,00101700,1017,Gadsden State Community College,Gadsden,AL,35903,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
21,101286,00101800,1018,George C Wallace Community College-Dothan,Dothan,AL,36303-9234,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
22,101295,00787100,7871,George C Wallace State Community College-Hance...,Hanceville,AL,35077-2000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
23,101301,00569900,5699,George C Wallace State Community College-Selma,Selma,AL,36703-2808,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
24,101365,01019300,10193,Herzing University-Birmingham,Birmingham,AL,35209,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
25,101435,00101900,1019,Huntingdon College,Montgomery,AL,36106-2148,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
26,101453,02199700,21997,Heritage Christian University,Florence,AL,35630-9977,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
27,101462,00526000,5260,J. F. Drake State Community and Technical College,Huntsville,AL,35811,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
28,101471,03002500,30025,J F Ingram State Technical College,Deatsville,AL,36022,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
29,101480,00102000,1020,Jacksonville State University,Jacksonville,AL,36265,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624,438416,020988B2,20988,University of Phoenix-West Michigan Campus,Walker,MI,49544-1683,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6625,438443,00195301,1953,ASBURY THEOLOGICAL SEMINARY-FLORIDA CAMPUS,ORLANDO,FL,32825,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6626,438452,02497303,24973,Trinity College,San Jose,CA,95112-6204,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6627,438498,02541200,25412,Stratford University,Fairfax,VA,22030,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6628,438504,00822103,8221,Universal Technical Institute of California Inc,Rancho Cucamonga,CA,91730-0000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6629,438577,00656902,6569,ALVERNIA SCHOOL OF PRACTICAL NURSING,PITTSBURGH,PA,15201,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6630,438586,02113604,21136,American InterContinental University-Atlanta,Atlanta,GA,30328,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6631,438595,02113605,21136,AMERICAN INTERCONTINENTAL UNIVERSITY,Dunwoody,CA,30325,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6632,438601,02113606,21136,American InterContinental University-South Flo...,Weston,FL,33326,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6633,438647,00926701,9267,Altierus Career College-Chesapeake,Chesapeake,VA,23320-2639,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6634,438656,02261302,22613,Everest Institute-Greenspoint,Houston,TX,77060,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6635,438683,02151906,21519,KEISER COLLEGE-LAKELAND,Lakeland,FL,33811,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6636,438735,03176300,31763,Aviation Institute of Maintenance-Indianapolis,Indianapolis,IN,46241,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6637,438744,00922401,9224,DEVRY UNIVERSITY,ALPHARETTA,GA,30004,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6638,438762,02075436,20754,DEVRY UNIVERSITY KELLER GRADUATE SCHOOL OF MAN...,MIAMI,FL,33131,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6639,438771,02075434,20754,KELLER GRADUATE SCHOOL OF MANAGEMENT,WEST HILLS,CA,91304,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6640,438814,025329A1,25329,INTERNATIONAL BUSINESS SCHOOL-MCKINNEY,McKinney,TX,75069,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6641,438869,02605503,26055,Remington College-Little Rock Campus,Little Rock,AR,72204,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6642,438878,01102001,11020,EMPIRE BEAUTY SCHOOL,PHILADELPHIA,PA,19154,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6643,438887,03441400,34414,Newbridge College-San Diego East,El Cajon,CA,920203057,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6644,438896,03446300,34463,CALIFORNIA SCHOOL OF MEDICAL SCIENCES,BEVERLY HILLS,CA,90211,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6645,438939,001204A2,1204,Golden Gate Baptist Theological Seminary-Engle...,Centennial,CO,80112-2372,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6646,438948,001204A3,1204,Golden Gate Baptist Theological Seminary-Phoenix,Scottsdale,AZ,85381,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6647,438966,02158412,21584,Harrison College-Fort Wayne,Fort Wayne,IN,46825-4911,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6648,439039,00730301,7303,Lincoln Technical Institute-Hamden,Hamden,CT,06514,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6649,439109,00145925,1459,STRAYER UNIVERSITY-CHESTERFIELD CAMPUS,MIDLOTHIAN,VA,23112,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6650,439118,03042501,30425,Carrington College-Spokane,Spokane,WA,99206-4187,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6651,439127,02312202,23122,Brightwood College-Friendswood,Friendswood,TX,77546,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6652,439260,02075411,20754,KELLER GRADUATE SCHOOL OF MANAGEMENT,WAUKESHA,WI,531864047,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01
6653,439321,03474300,34743,Ave Maria College,Ypsilanti,MI,48197,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00-01

In [3]:
all_years['MERGED_YEAR_FROM'].unique()

array(['02-03', '03-04', '04-05', '05-06', '06-07', '07-08', '08-09',
       '09-10', '10-11', '11-12', '12-13', '13-14', '14-15', '15-16',
       '16-17', '17-18'], dtype=object)

In [4]:
#This section is completely commented out to avoid creating excel export.

# Create a Pandas Excel writer using XlsxWriter as the engine.
all_years.to_csv('Years02-03_17-18')